<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta el clima</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename= 'favicon.ico')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   

</head>
<body background="{{url_for('static',filename= 'fondo.png')}}">

    <div class="text-bg-info p-3"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <div class= "container">
        <center>
            <img src="{{url_for('static', filename= 'fondo.png')}}" width="300px"
        </center>
        <h1>Consulta el clima</h1>

        <form method="post">
            <div class="mb-3">
                <label for="formFile" class="form-label">Ciudad a buscar</label>
                <input class="form-control" type="text" name="formCiudad">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="submit">Buscar</button> 
                <button class="btn btn-danger" type="reset">Limpiar</button>
            </div>
        </form>
    


        {%if context %}
        <center>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ context.name }}</h5>
              <p class="card-text">Latitud: {{context.coord.lat}}</p>
              <p class="card-text">Longitud: {{context.coord.lon}}</p>
              <p class="card-text">Temperatura: {{context.main.temp}}</p>
              <p class="card-text">Humedad: {{context.main.humidity}}</p>
              <p class="card-text">Presion: {{context.main.pressure}}</p>
            
            </div>
        </div>
        </center>  
        {% endif %}
    </div>
    
</body>
</html>